pandas
numpy
ipykernel
tweepy
requests
bertopic
sentence-transformers
boto3
langchain_aws
langchain
emoji
python-dotenv

# sentence-transformersの実行に必要なライブラリ
protobuf
sentencepiece

#bertopicに必要なライブラリ
fugashi
unidic-lite